<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon"  type="image/svg+xml" href="./images/logo.svg" sizes="16x16">
  <title>Algorithms Site</title>
  
  <script type="module">
    import bundle from "./js/bundle.js"
  </script>

</head>
<body>
  <header>
    <ul>
      <li> <a href="#home"> Home </a> </li>
      <li> <a href="#articles"> Articles </a> </li>
      <li> <a href="#donation"> Donate </a> </li>
    </ul>
  </header>

  <nav>
    <img src="images/logo.svg">
  </nav>

  <h1>Welcome</h1>

  <h3>This is the official page of the Community Algorithm Site</h3>

  <footer>
    <p>Copyright © 2021 <cite>Algorithms Site</cite>, All Rights Reserved.</p>
  </footer>
</body>
</html>